body {
    background-color: #256D1B;
    front-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cat {
    background-color: #690500;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #26547C;
    flex : 1;
}


@media (min-width : 960px) {

    .cats {
        display: flex;
    } 
}

fieldset {
    margin: 1em;
    border: 0;
}

buttom{
    padding: 1em;
    border: 3px solid;
    border-radius: 0.5em;
} 

imput {
    padding: 1em;
}